.table{
    width: 10%;
    border:1px solid black;    

    th{
        font-size: 1.1rem;
        background-color: #C3CFD9;
    }
    th,td{
       text-align: center;
       border:1px solid black;
    }

    td{
        font-size: 1.3rem;
    
    }
    .ficha{
        background-color: rgb(24, 224, 57);
        cursor: pointer;   
    }

    .ficha:hover{
        background-color: rgb(25, 190, 53);
    }
}