.texto{
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteudo{
    background-color: rgba(255, 255, 255, 0.24);
    margin: 30px auto;
    width: 80%;
    height: auto; // a propriedade seria auto
    background-color: rgb(216, 216, 216); // retirar apos tabela ter
    h1{
        color: white;
    }
}

.filter{
    display: flex;
    flex-direction: column;
    height: 6rem;
    justify-content: space-evenly;
}

@media screen and (max-width: 900px){
    .conteudo{
        width: 99%;
    }

    .texto{
        width: 90%;
    }
}

@media screen and (max-width: 750px) {
    .conteudo{
        width: 90%;
    }
 }
    
