.texto{
    width: 50%;
    display: block;
    margin: 0 auto;
    font-size: 1.1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.conteudo{
    background-color: rgba(255, 255, 255, 0.24);
    margin: 30px auto;
    width: 50%;
    height: auto; // a propriedade seria auto
    background-color: rgb(216, 216, 216); // retirar apos tabela ter
    h1{
        color: white;
    }

 
}