.button{
    background-color: #3979b1;
    width: 50%;
    height: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;

}
.button:active{
    background-color: #225683;

}